

.weatherState{
    height: 0;
}
form input{
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    
}

form .searchBar{
    border: none;
    width: 50%;
}

form .submit{
    padding: 10px 20px;
    margin-left: 10px;
    background: radial-gradient(circle at -3.3% 48%, rgb(141, 146, 239) 0%, rgb(99, 229, 254) 90%);
    color: #fff;
    border: 1px solid  rgb(56, 55, 55, 0.5);
}

form .submit:hover{
    background: white;
    color: rgb(56, 55, 55);
}
.degree{
    height: 5;
    font-size: 120px;
    
}

.icon{
    position: relative;
    top: -127px;
    left: 50px;
    height: 0;
    opacity: 0.4;   
    padding-bottom: 6px;
}

.degree_icon{
    position: relative;
    top: -9px;
    
}

.today{
    border: none;
    border-radius: 4px;
    margin:  20px auto;
}

.info{
    padding: 4px;
    border: 1px solid white;
    border-top: none;
    
}

.loader{
    display: flex;
    justify-content: center;
    padding: 40px;
}

