:root{
    --primary-color: #5d9fd6;
}

.forecast{
    border: 1px solid var(--primary-color);
    border-radius: 30%;
    padding: 5px;
    background-color: var(--primary-color);
    margin-bottom: 10px;
}